<nav class="navbar navbar-inverse navbar-fixed-top metal-blue header-border" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/twitchdoe"><i class="glyphicon glyphicon-usd" aria-hidden="true"></i> Twitch Doe</a>
    </div>
  </div>
</nav>
