
<div class="jumbotron main-banner">
  <div class="container">
    <br></br>
    <h1>Twitch User Statistics</h1>
    <p>Ever wonder how much money famous twitch streamers make via subscriptions? Twitch User Statistics can tell you!</p>
  </div>
</div>

<div class="container">
  <%= params[:user] %>
  <hr>
</div>
